body {
  background-color: #343434;
  color: blanchedalmond;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0px;
  position: relative;
}

@font-face {
  font-family: "HexaframeCF";
  src: url("typeface/HexaframeCF-Bold.ttf") format(truetype);
  src: url("typeface/HexaframeCF-Bold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }
  .div1 {
    background-position-x: 10rem;
  }
  .yusri_3d {
    display: none;
  }
  .yusri-distancing {
    width: 100% !important;
  }
  p {
    font-size: 50%;
  }

  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .attribution {
    position: relative;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HexaframeCF";
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 60px;
}

.yusri-distancing {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* HEADER Navbar */
body.active-nav {
  overflow: hidden;
}

.yusri-navbar {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #5a5959e7;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.yusri-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 120px;
}

.yusri-navbar ul li {
  margin: 20px 0;
}

.yusri-navbar ul li a {
  font-family: "HexaframeCF";
  text-decoration: none;
  color: blanchedalmond;
  font-size: 24px;
  display: block;
  transition: 0.3s;
}

.yusri-navbar ul li a:hover {
  color: #ff3d4b;
  scale: 120%;
}

#yusri-toggleNav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.yusri_hero {
  font-size: 80px;
}

.yusri_flex2 {
  display: flex;
  align-items: center;
}

.yusri_button_container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

/* Button Primary */
.yusri_button_primary {
  color: #171717;
  font-family: Hexaframe CF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
  margin-top: 8px;
  /* display: flex; */
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #ff3d4b;
}

/* Button Secodary */
.yusri_button_secondary {
  color: #e1e1e1;
  font-family: Hexaframe CF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
  /* display: flex; */
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #2f6e5a;
}

/* Marque Images - Section Eksploration */

.yusri_marquee {
  overflow: hidden;
}

.yusri_marquee-content {
  display: flex;
  animation: scrolling 40s linear infinite;
}

.yusri_marquee-item {
  flex: 0 0 30vw;
  margin: 0 1vw;
}

.yusri_marquee-item:hover {
  filter: grayscale();
}

.yusri_marquee-item img {
  border-radius: 16px;
  display: block;
  width: 100%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  }
}

/* Our Project */
.yusri_project {
  margin: 0;
  padding: 0;
}

.yusri_card1 {
  border-radius: 16px;
  margin: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  background-color: #262525;
  width: auto;
}

.yusri_card1_desc {
  padding: 24px;
}

.yusri_card1 h4 {
  font-size: 45px;
}

.yusri_card1 h6 {
  font-size: 20px;
}

.yusri_card1 img {
  border-radius: 24px;
}

/* Testimonial Section */
.yusri_innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}
.yusri_eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: white;
}
.yusri_div1 {
  background: #733fc8;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}
.yusri_div2 {
  background: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}

.yusri_div4 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  color: black;
}
.yusri_div5 {
  background: #18202d;
  grid-column: 2/4;
  grid-row: 2/3;
}
.yusri_userdetails {
  display: flex;
}
.yusri_imgbox {
  margin-right: 1rem;
}
.yusri_imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}
.yusri_detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.yusri_detbox p {
  margin: 0;
}
.dyusri_etbox .yusri_name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.yusri_detbox .yusri_name.yusri_dark {
  color: #49505a;
}
.yusri_detbox .yusri_designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.yusri_detbox .yusri_designation.yusri_dark {
  color: #49505a;
}
.yusri_review h4 {
  font-size: 1.4rem;
  color: #f3deff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.yusri_review.yusri_dark h4 {
  color: #4b5258;
}
.yusri_review p {
  font-size: 0.95rem;
  color: #f3deff;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}
.yusri_review.yusri_dark p {
  color: #0e0e0e;
}

/* Contact Us Section */
#yusri-contact {
  background-color: #262525;
  border-radius: 16px;
}

#yusri-contact h1 {
  margin-bottom: 20px;
}

#yusri-contact p {
  font-size: 18px;
  margin-bottom: 40px;
}

#yusri_contact-form {
  padding: 24px;
}
.yusri_contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20 40 20 40px;
}

.yusri_contact-content {
  padding: 40px;
  width: 50%;
  background-color: #7b7a7a;
  border-radius: 16px;
}

.yusri_contact-illustration {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.yusri_contact-illustration img {
  height: 50%;
}

.yusri_form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Experience Section */
.yusri_experience {
  background-color: #313030;
  padding: 24px;
  border-radius: 16px;
  margin-top: 40px;
}

.yusri_experience-card {
  margin-top: 24px;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #565656;
}

.yusri_experience-card h3 {
  font-size: 32px;
  line-height: auto;
}

.yusri_experience-card:hover {
  background-color: #5a5959e7;
  transition: 0.2s ease-in-out;
}

/* Education Section */
.yusri_education {
  background-color: #313030;
  padding: 24px;
  border-radius: 16px;
  margin-top: 40px;
}

.yusri_education_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.yusri_education-card {
  border-bottom: 2px solid #565656;
  padding: 16px;
  border-radius: 16px;
  width: 45%;
  margin: 24px;
  text-align: center;
  flex-wrap: wrap;
}
.yusri_education-card:hover {
  background-color: #5a5959e7;
  transition: 0.2s ease-in-out;
}

/* Honor & Awwards Section */
.yusri_honor {
  background-color: #313030;
  padding: 24px;
  border-radius: 16px;
  margin-top: 40px;
}
.yusri_honor-container {
  display: flex;
  align-items: center;
}

.yusri_honor-container img {
  width: 75%;
  background-color: #565656;
}

/* Service Section */
.yusri_service {
  background-color: #313030;
  padding: 24px;
  border-radius: 16px;
  margin-top: 40px;
  text-align: center;
}
.yusri_service h2 {
  font-size: 40px;
}
.yusri_service-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  gap: 24px;
  margin-top: 24px;
}
.yusri_service-card {
  background-color: #343434;
  border-radius: 16px;
  padding: 24px;
}

.yusri_service-card:hover {
  background-color: #6a6969;
}

.yusri_service-card img:hover {
  filter: grayscale();
}

.yusri_porto {
  background-color: #313030;
  padding: 24px;
  border-radius: 16px;
  margin-top: 40px;
}

/* Exploration */
.yusri_gallery {
  --g: 6px; /* the gap */

  display: grid;
  width: 450px; /* the size */
  aspect-ratio: 1;
  grid: auto-flow 1fr / repeat(3, 1fr);
  gap: var(--g);
}
.yusri_gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale();
  transition: 0.5s;
}
.yusri_gallery img:hover {
  filter: grayscale(0);
}
.yusri_gallery img:nth-child(2) {
  grid-area: 1/2 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(50% + var(--g) / 4) 100%,
    0 calc(50% - var(--g) / 4)
  );
}
.yusri_gallery img:nth-child(3) {
  grid-area: 2/1 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    calc(50% - var(--g) / 4) 0,
    100% calc(50% + var(--g) / 4),
    100% 100%,
    0 100%
  );
}

.yusri_expo {
  place-content: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 100%;
}

/* Footer */
.footer-yusri {
  display: flex;
  justify-content: space-between;
  background: #5a5959e7;
  text-align: center;
  padding: 16px;
  align-items: center;
  border-radius: 24px;
  margin-top: 40px;
}

.footer-yusri img {
  height: 64px;
}

.footer-yusri .credit-yusri {
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.footer-yusri .credit-yusri span {
  color: #fff;
  font-weight: 500;
}
